h1 {
    color: white;
}

.favorites__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.favorites__list {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
}