h1 {
    color: white;
}

.favorites__list {
    margin: 0 auto;
    width: 80%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.placeholder__container {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.favorites__placeholder {
    color:#CACACA;
    font-size: 24px;
    letter-spacing: 1px;
    font-weight: 600px;
}