.details__container {
    display: flex;
    width: 80%;
    margin: 0 auto;
    padding: 40px 0px;
}

h2 {
    color: white;
    margin-bottom: 20px;
    font-size: 32px;
}

.genres__container {
    display: flex;
}

.genre {
    color: rgba(212, 116, 236, 0.827);
    margin-bottom: 20px;
    font-weight: 600;
    border: 1px solid rgba(212, 116, 236, 0.827);
    padding: 4px 8px;
    border-radius: 8px;
    font-size: 16px;
    letter-spacing: 1px;
    margin-right: 10px;
}

.details__container .poster__container {
    background-color: black;
}

.details__container img {
    width: 400px;
}

.text__container {
    color: white;
    font-size: 20px;
    line-height: 28px;
    padding: 0px 40px;
}

.languages__container, 
.countries__container,
.popularity__container,
.votes__container {
    margin: 20px 0px;
}

span.language, span.country {
    color: white;
    font-size: 20px;
    margin-right: 10px;
}

#favorite__icon__details {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.details__title {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}