.header {
    width: 100%;
    height: 70px;
    background-color: black;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(212, 116, 236, 0.827);
    justify-content: space-between;
}

.logo {
    margin-left: 40px;
    width: 10%;
}

.header__title {
    color: white;
}

.navigation__container {
    display: flex;
    align-items: center;
}


.menu__container {
    height: 100%;
    margin: 0px 40px;
}

.menu {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu__item {
    margin: 0px 10px;
    color: white;
    font-size: 18px;
}

.menu__link {
    text-decoration: none;
}

.search__container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}