.search__input__container {
    display: flex;
    align-items: center;
    border-radius: 20px;
    background-color: white;
}

.search__input {
    border-radius: 20px;
    font-size: 16px;
    width: 0px;
    border: none;
}

.search__input:focus {
    outline: none;
}

.round {
    margin: 10px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search__icon__container {
    background-color: black;
    margin: 0;
}

#search-icon {
    width: 20px;
    height: 20px;
}

.search__results {
   position: absolute;
   right: 5%;
   top: 100%;
   width: 90%;
   margin: 0 auto;
   background-color: white;
   z-index: 1;
   padding: 10px;
   max-height: 400px;
   overflow: hidden;
   overflow-y: scroll;
   visibility: hidden;
}

.no-results {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    height: 100px;
}