.search__result {
    width: 100%;
    background-color: white;
    display: flex;
    cursor: pointer;
    margin: 8px 0px;
}

.search__result:hover {
    background-color: #CACACA;
}

.poster__container {
    height: 100%;
}

.poster__container > img {
    width: 70px;
}

.search__result .movie__title {
    color: black;
    font-size: 18px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.text__container {
    width: 80%;
    
}

.search__result .text__container {
    padding: 0px 10px;
}

.text__container span {
    color: rgba(212, 116, 236, 0.827);
    font-size: 16px;
}

.poster__placeholder {
    background-color: #CACACA;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: 102px;
    width: 70px;
}

.poster__placeholder > img {
    width: 40px;
}